# Security
.env

# Maven / Java Build
target/
*.class
*.jar
*.war

# IDE specific files
.settings/
.classpath
.project
.idea/
*.iml

# Logs
server_logs/
*.log

# Node & Frontend (Vaadin/Vite generated)
node_modules/
dev.bundle/
vite.generated.ts
